PORT=4000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=punto_dulce

# Cambia esto por una cadena larga y aleatoria antes de usar el proyecto en serio
JWT_SECRET=cambia_esta_clave_por_una_larga_y_aleatoria
